.row {
	margin-bottom: 10px !important;
}

.home-right > h3 {
	margin-top: 0px !important;
}

#office-desc {
	text-align: justify;
}

#office-carousel {
	border: 3px groove #000;
	cursor: pointer;
}

dt {
	margin-bottom: 6px !important;
}

dd {
	text-align: justify;
}

.bootbox {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.modal-dialog {
	width: 830px !important;
}

/*
#home-carousel{
	width: 100% !important;
	max-height: 500px !important;
	background-color: #444444;
	border-radius: 4px;
	margin-bottom: 20px !important;
	-moz-box-shadow: 3px 3px 14px #333333, -3px 3px 14px #333333, 3px -3px 14px #333333, -3px -3px 14px #333333;
	-webkit-box-shadow: 3px 3px 14px #333333, -3px 3px 14px #333333, 3px -3px 14px #333333, -3px -3px 14px #333333;
	box-shadow: 3px 3px 14px #333333, -3px 3px 14px #333333, 3px -3px 14px #333333, -3px -3px 14px #333333;
}

#home-carousel > .carousel-inner {
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#home-carousel > .carousel-inner > .item > a {
	width: 100% !important;
	max-height: 500px !important;
}

#home-carousel > .carousel-inner > .item > a >img {
	width: 100% !important;
	max-height: 500px !important;
	color: #FFFFFF;
}

.carousel-caption {
	background-color: rgba(32, 32, 32, 1);
	bottom: 0 !important;
	padding-top: 0px !important;
	padding-bottom: 30px !important;
	left: 0% !important;
	right: 0% !important;
	
}

.carousel-caption h3 {
	margin-top: 10px !important;
}

.carousel-indicators {
	bottom: 0 !important;
	margin-bottom: 10px !important;
}

.carousel-indicators > li {
	margin-left: 3px !important;
	margin-right: 3px !important;
}

.carousel-control {
	z-index: 11;
}
*/