.row {
	margin-bottom: 10px !important;
}

.home-right > h3 {
	margin-top: 0px !important;
}

#office-desc {
	text-align: justify;
}

#office-carousel {
	border: 3px groove #000;
	cursor: pointer;
}

dt {
	margin-bottom: 6px !important;
}

dd {
	text-align: justify;
}

.bootbox {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.modal-dialog {
	width: 830px !important;
}

.service-header {
	margin-top: 30px;
}

#services > p {
	margin-left: 15px;
}

#services > ul {
	padding-left: 15px;
	list-style-position: inside;
}

.no-list-style {
	padding-left: 25px;
	list-style-type: lower-greek;
}

.no-list-style-en {
	padding-left: 25px;
	list-style-type: lower-latin;
}